@use 'mixins' as m;

.full-bleed {
  grid-column: 1/4;
}

.inline-list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    margin: 0;
    padding: 1rem;
  }
}

.lite {
  font-weight: 100;
}

.italic {
  font-style: italic;
}

.full-bleed {
  text-align: center;
  width: 100%;
  grid-column: 1 / -1;
}

.image-right {
  margin: 0;
  padding: 2rem 0 0;
  text-align: center;
  width: 100%;

  img {
    border: 2px solid #ccc;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  }

  @media screen and (min-width: 576px) {
    float: right;
    margin: 2rem 2rem;
    width: auto;
  }
}

.name-drop {
  font-style: italic;
  font-weight: bold;
}

.truncated {
  --fade-color: var(--light-color);
  position: relative;

  &::before {
    background: linear-gradient(transparent, var(--fade-color));
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}