:root {
  --base-font: 'Open Sans';
  --header-font: 'Nixie One';

  /* CSS HSL */
  /* https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500 */
  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --honey-yellow: hsla(43, 100%, 51%, 1);
  --orange: hsla(32, 100%, 49%, 1);

  --dark-color: #333;
  --light-color: #eee;

  /* CSS HEX */
 /* https://coolors.co/fdffff-333333-fca311-22aed1-6d8ea0 */
--white: #fdffff;
--jet: #333333;
--orange-web: #fca311;
--pacific-blue: #22aed1;
--light-slate-gray: #6d8ea0;
}