.all-releases {
  .albums-wrapper {
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 4rem;

    @media screen and (min-width: 760px) {
      display: grid;
    }

    > * {
      margin-bottom: 5rem;
    }
  }

  img {
    box-shadow: 5px 5px 15px #666;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.03);
    }
  }

  h3 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  h3 + * {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 2rem;
  }
}